<div class="grid-container">
    <div class="grid-x grid-padding-x faq-item-container">
        <div class="cell small-12 medium-6 flex-container flex-dir-column">
            <div class=" flex-child-auto">
                <img src="http://placehold.it/600x400" alt="">
            </div>
        </div>
        <div class="cell small-12 medium-6 align-self-middle">
            <div class="faq-item">
                <h5 class="faq-item-header">Header Here</h5>
                <p class="faq-item-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea expedita fugit nihil perferendis sint sit. Alias doloremque dolorum ducimus esse eum illum, ipsam quod repellat reprehenderit sapiente vitae voluptas!</p>
            </div>
            <div class="faq-item">
                <h5 class="faq-item-header">Header Here</h5>
                <p class="faq-item-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea expedita fugit nihil perferendis sint sit. Alias doloremque dolorum ducimus esse eum illum, ipsam quod repellat reprehenderit sapiente vitae voluptas!</p>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x faq-item-container text-right">
        <div class="cell small-12 medium-6 align-self-middle">
            <div class="faq-item">
                <h5 class="faq-item-header">Header Here</h5>
                <p class="faq-item-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea expedita fugit nihil perferendis sint sit. Alias doloremque dolorum ducimus esse eum illum, ipsam quod repellat reprehenderit sapiente vitae voluptas!</p>
            </div>
            <div class="faq-item">
                <h5 class="faq-item-header">Header Here</h5>
                <p class="faq-item-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea expedita fugit nihil perferendis sint sit. Alias doloremque dolorum ducimus esse eum illum, ipsam quod repellat reprehenderit sapiente vitae voluptas!</p>
            </div>
        </div>
        <div class="cell small-12 medium-6 flex-container flex-dir-column">
            <div class=" flex-child-auto">
                <img src="http://placehold.it/600x400" alt="">
            </div>
        </div>
    </div>
</div>



<!--<div class="grid-x grid-padding-x">-->
    <!--<div class="small-12 medium-4 cell">-->
        <!--<img src="http://placehold.it/600x600" alt="">-->
    <!--</div>-->
    <!--<div class="small-12 medium-8 cell faqs-item-container">-->
        <!--<h3 class="faqs-item-header">Header</h3>-->
        <!--<p class="faqs-item-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur dignissimos eos esse necessitatibus sint sit, voluptatum. Autem eum ipsam mollitia nemo pariatur quaerat, quibusdam sed totam unde voluptate! Quis.</p>-->
    <!--</div>-->
<!--</div>-->
