<div class="grid-container">
    <div class="post">
        <div class="postUser">
            <div class="postUser__portrait">
                <span class="icon fa fa-user-circle-o"></span>
            </div>
            <div class="postUser__name">User Name</div>
        </div>
        <div class="postBody">
            <div class="postBody_content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate nihil odit sequi soluta suscipit, voluptates voluptatibus! Ex, excepturi impedit iure nemo pariatur, quas quibusdam repellat reprehenderit sit voluptas voluptates.
            </div>
            <div class="postBody__date">
                December 4th 2018
            </div>
        </div>
    </div>
</div>
