<div class="footer">
    <div class="grid-container">
        <div class="cell auto">
            <div class="footer-content--container">
                <p class="footer-brand-name">Company Name &copy;2018</p>
                <p class="footer-links">Link One | Line Two | Link Three</p>
            </div>
        </div>
    </div>
</div>





<!--<div class="grid-x grid-padding-x footer">-->
    <!--<div class="cell auto">-->
        <!--<h3 class="footer-company-name">Company Name</h3>-->
    <!--</div>-->
    <!--<div class="cell auto text-right">-->
        <!--<p class="footer-links">FAQs | Privacy Policy | Terms and Conditions | Contact Us</p>-->
    <!--</div>-->
<!--</div>-->






<!--<div class="formFooter">-->
    <!--<div class="formFooter__section">-->
        <!--<div class="formFooter__item formFooterFeedback">-->
            <!--<div class="fa fa-spinner formFooterSpinner">-->
            <!--</div>&nbsp;Saving...-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="formFooter__section">-->
        <!--<div class="formFooter__item button button&#45;&#45;clear">Reset</div>-->
        <!--<div class="formFooter__item button">Save</div>-->
    <!--</div>-->
<!--</div>-->
