<header class="header-wrapper">
    <div class="header-container">
        <div class="logo-section">
            <h1 class="brand-name">Logo</h1>
        </div>
        <div class="cta-tollfree-section">
            <a href="#" class="header-tollFree-number">Call: (888) 555-1213</a>
        </div>
    </div>
</header>

<!--<div class="grid-container">-->
    <!--<div class="grid-x grid-padding-x header">-->
        <!--<div class="cell auto">-->
            <!--<h4 class="logo">Logo</h4>-->
        <!--</div>-->
        <!--<div class="cell auto">-->
            <!--<p class="contact-number text-right">Call Now: (888)555-1213</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--todo - use this one-->
<!--<div class="siteHeader">-->
    <!--<div class="siteHeader__section">-->
        <!--<div class="siteHeader__item siteHeaderLogo">-->
            <!--<div class="fa fa-inbox"> Logo Here</div>-->
        <!--</div>-->
        <!--<div class="siteHeader__item siteHeaderButton is-site-header-item-selected">FAQs</div>-->
        <!--<div class="siteHeader__item siteHeaderButton">Sent</div>-->
        <!--<div class="siteHeader__item siteHeaderButton">Trash</div>-->
    <!--</div>-->
    <!--<div class="siteHeader__section">-->
        <!--<div class="siteHeader__item siteHeaderButton">Call (800) 555-1213</div>-->
        <!--<div class="siteHeader__item siteHeaderButton">Log out</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="grid-x grid-padding-x header">-->
    <!--<div class="cell auto">-->
        <!--<h4 class="logo">Logo</h4>-->
    <!--</div>-->
    <!--<div class="cell auto">-->
        <!--<p class="contact-number text-right">Call Now: (888)555-1213</p>-->
    <!--</div>-->
<!--</div>-->
