<div class="hero-container">
    <div class="hero-main-content">
        <h1 class="hero-header">What is our Mission?</h1>
        <p class="hero-subheader">Our primary goal is to match your engineering project, idea or need with an expert, or team of experts in your local area to complete your project in the most efficient way possible.</p>
    </div>
    <div class="button-group hero-buttons">
        <a href="faqs.html" class="button button-primary">Option One</a>
        <a href="form.html" class="button button-secondary">Option Two</a>
    </div>
</div>
