<div class="hero-container">
    <div class="hero-main-content">
        <h1 class="hero-header">Hero Header Goes Here</h1>
        <p class="hero-subheader">This is the hero subheader info. Its the secondary cta.</p>
    </div>
    <div class="button-group hero-buttons">
        <a href="faqs.html" class="button button-primary">Option One</a>
        <a href="form.html" class="button button-secondary">Option Two</a>
    </div>
</div>


<!--<div class="grid-x grid-padding-x align-center-middle text-center hero">-->
    <!--<div class="small-12 medium-8 cell">-->
        <!--<div class="hero-content">-->
            <!--<h1>Main Hero header goes here...</h1>-->
            <!--<h2>Subheader information goes here just add more info when you get it.</h2>-->
        <!--</div>-->
        <!--<div class="small-12 medium-6 cell">-->
            <!--{{> form-zip-input}}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
