<div class="grid-container">
    <div class="grid-x grid-padding-x mission-statement">
        <div class="small-12 cell text-center">
            <h3 class="content-header">What is Contractual Engineering?</h3>
            <p class="content-info">Contractual Engineering connects entrepreneurs, start-ups, inventors, manufactures, and average joes to the nation’s best product designers, certified CAD technicians and Professional Engineers in your local area. Our engineering support ranges from basic product development designs to highly complex mathematical problem solving. We have a worldwide network of technical expertise that covers a wide range of skills to fit any engineering service.</p>
        </div>
    </div>
</div>
