.sideBar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: rem-calc(150);
  border: 1px solid $dark-gray;
  background-color: $light-gray;
  padding: rem-calc(10);
}

.sideBar__item {
  cursor: pointer;
  padding: rem-calc(5 10);
  color: $primary-color;
  font-size: 1rem;
}

.sideBar__item.is-side-bar-item-selected {
  background-color: $secondary-color;
  border-radius: rem-calc(4);
}
