@import "theme";

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

//.form-wrapper {
//  position: relative;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: left;
//  max-width: rem-calc(1200);
//  margin: rem-calc(60 auto);
//  padding: rem-calc(15 30);
//  border: 2px solid $medium-gray;
//
//  .form-header--section {
//    max-height: 10vh;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: left;
//    //border-bottom: 1px solid $light-gray;
//  }
//
//  .form-divider {
//    flex-grow: 1;
//    justify-content: flex-start;
//    background-color: $primary-color-light;
//  }
//
//  .form-container,
//  .contact-form {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: center;
//  }
//
//}







/*
.container {
  max-width: 60vw;
  margin: auto;
  border: 2px dashed red;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  //flex-wrap: wrap;
  > div {
    background: #373142;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px solid red;
    &:nth-child(2) {
      height: 150px;
      flex: 0 1 auto;
      //flex-basis: 200px;
      //flex-grow: 1;
    }
    &:nth-child(3) {
      height: 150px;
      flex-grow: 3;
      align-self: flex-end;
    }
  }
}
*/
