@import "theme";

.hero-container {
  min-height: 50vh;
  background-color: $primary-color;
  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-header {
    font-size: 3.5rem;
    text-align: center;
  }

  .hero-subheader {
    font-size: 1.25rem;
    color: rgba(255,255,255,0.7);
    text-align: center;
    margin-bottom: rem-calc(30);
  }

  .hero-buttons {
    display: flex;
  }

  .button {
    font-size: 1.25rem;
    border: 1px solid $white;
    margin: rem-calc(0 5);
    padding: rem-calc(15 30);
  }

  .button-primary {
    border-color: $primary-color-light;
  }

  .button-secondary {
    border-color: $secondary-color;
  }

}



//.hero {
//  height: 65vh;
//  background-color: $primary-color;
//  color: $white;
//  text-align: center;
//  .short-form {
//    background-color: $white;
//    color: $black;
//    padding: rem-calc(30);
//  }
//}



.hero-secondary {
  height: 20vh;
  background-color: $primary-color;
  color: $white;
  text-align: center;

  .hero-secondary-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
