.hero {
  height: 65vh;
  background-color: $primary-color;
  color: $white;
  text-align: center;

  .short-form {
    background-color: $white;
    color: $black;
    padding: rem-calc(30);
  }

}



.hero-secondary {
  height: 20vh;
  background-color: $primary-color;
  color: $white;
  text-align: center;

  .hero-secondary-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
